body {
  background: linear-gradient(to top, #bd87a7, #a65084);
  color: #ffffff;
}

/* Estilo da Navbar */
  .navbar-brand {
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  .nav-link {
    color: #ff0088;
  }
  
  /* Estilo do texto de apresentação */
  p.description {
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2rem;
    padding: 0 15px;
    max-width: 900px;
    /*espaço da escrita*/
    color: #000000;
  }
  
  /* Layout geral */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcd3e6;
    padding: 90px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgb(134, 10, 90);
  }
  
  .content {
    flex: 1;
    margin-top: -30px;  /* Move o bloco de conteúdo mais para cima */
    margin-left: -30px; /* Move o bloco de conteúdo mais para a esquerda */
  }
  
  .content h2 {
    font-size: 30px;
    color: #000000;
    margin-top: 5px;  /* Move o bloco de conteúdo mais para cima */
    margin-left: -10px; /* Move o bloco de conteúdo mais para a esquerda */
  }
  
  
  .video-section {
    display: flex;
    justify-content: center;
    margin: 40px auto;
  }
  
  /* Estilo do vídeo responsivo */
  .video-container {
    width: 1000%;
    max-width: 600px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(135, 134, 134);
    margin-top: -5px; /* Move o vídeo para cima */
    margin-right: -80px; 
    
  }
  
  /* Ajuste o iframe para o design responsivo */
  .embed-responsive {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 12px; /* Bordas arredondadas também no contêiner do iframe */
  }
  
  .embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Removendo a borda do iframe */
  }